body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 18px 40px;
    background-color: #222;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.links {
    display: flex;
    gap: 25px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 16px;

    transition: 0.3s;
}

.links a:hover {
    color: lightblue;
    transform: translateY(-2px);
}

.page {
    display: grid;

    grid-template-columns: 220px 1fr;
    grid-template-rows: 80px 1fr 70px;

    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";

    min-height: 100vh;

    gap: 10px;
    padding: 10px;
}

header {
    grid-area: header;

    background-color: #222;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    font-weight: bold;

    border-radius: 10px;
}

aside {
    grid-area: sidebar;

    background-color: #dfe6e9;

    padding: 25px;

    border-radius: 10px;
}

main {
    grid-area: main;

    background-color: white;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

footer {
    grid-area: footer;

    background-color: #333;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

